<template>
    <UploadPaper/>
</template>

<script>
// @ is an alias to /src
import UploadPaper from '@/components/UploadPaper.vue'

export default {
  name: 'UploadPaperView',
  components: {
    UploadPaper
  }
}
</script>
